[Desktop Entry]
Name=Uiiverse
Exec=webapp-container --enable-back-forward --store-session-cookies --webappUrlPatterns=https?://uiiverse.xyz/*
Icon=assets/logo.svg
Terminal=false
Type=Application
X-Ubuntu-Touch=true
